body{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: papayawhip;
    color: #333;
}
p{
    /* you can specify using RGBA value */
  /* color: rgba(0,0,0,0.5); */

  /* Using a hexadecimal */

  color: #333;
}