/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(137, 155, 137, 0.094);
    margin: 1.5em;
}

header{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 1em;
    background-color: bisque;

}
h1{
    font-size: 4em;
    padding: 0.9rem;
    background-color: rgb(214, 205, 156);
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    line-height: 2em;
}
h1:hover{
    color: aliceblue;
}
nav{
    border-radius: 2em;
    background-color: bisque;
    margin: 0 auto 1rem;
    max-width: 600px;
    line-height: 4rem;
    font-size: 1.5em;
}
nav li,a{
    text-decoration: none;
    list-style: none;
}
li{
    border-top: 1px solid #333;
}
li a{
    display: block;
}
li a,
li a:visited{
    text-decoration: none ;
    color: #333;
}

li a:hover,
li a:focus{
    color: #333;
    background-color: rgba(122, 157, 221, 0.311);
    cursor: pointer;
}
li:last-child a{
    border-bottom-left-radius: 0.9em;
    border-bottom-right-radius: 0.9em;
}